<!DOCTYPE html>
<html>
  <head>    
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body>  
    <div class="sus">
        <a class="logo" href="http://vitaltweets.grupa2.website/">
            <img src="/images/logoalb.png">
        </a>
        <div id="butonFiltre">
            <i class="fas fa-sync refresh"></i>
        </div>
    </div>
    <div id="onclick">
      <p>Success! The crawling action has started. The function has been disabled for 30 minutes.</p>
    </div>
    <div class="app">      
      <img src="/images/loading.gif" >
    </div>
    <div class="footer">
        <a href="http://vitaltweets.grupa2.website"><b>Home</b></a>
        <a href="https://vitaltweets.herokuapp.com/statistics"><b>Statistics</b></a>
        <a href="https://crawling-ii-a2.herokuapp.com/"><b>Crawling</b></a>
        <a href="http://vitaltweets.grupa2.website/aboutUs/aboutus.html"><b>About Us</b></a>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="./js/index.js"></script>
</html>
