body {
    margin: 0;
}

nav {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    padding: 15px;
    text-align: center;
    background-image: linear-gradient(rgb(134, 5, 5), red);
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
}

.app {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#onclick {
    font-size: 1.5em;
    font-weight: 900;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    color: #3F5181;
    top: 10%;
    right: 25%;
    left: 25%;
    position: absolute;
    text-align: center;
    visibility: collapse;
}

.refresh {
    border: none;
    background: none;
    background-size: cover;
    color: white;
    visibility: visible;
    transition: all 0.7s linear;
}

.refresh:hover {
    cursor: pointer;
}

.refresh.down {
    transform: rotate(360deg);
}

.sus {
    height: 80px;
    background-color: #3F5181;
    position: relative;
    display: flex;
}

.logo {
    width: 235px;
    float: left;
    margin-left: 15px;
    margin-right: 50px;
    max-height: 100%;
}

.logo img {
    height: 70px;
    padding-top: 5px;
}

#butonFiltre {
    width: 25px;
    cursor: pointer;
    position: fixed;
    right: 40px;
    font-size: 25px;
    color: #fff;
    margin-top: 27px;
    margin-bottom: 27px;
}

.footer {
    font-family: Segoe UI !important;
    font-size: ;
    height: 45px;
    background-color: #3F5181;
    bottom: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    padding-top: 25px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-right: 50px;
}